.header {
 background-color: rgb(244, 242, 242);
}

.container {
  width: 1181px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 111px;
  margin-top: 43px; 
}

 .text {
  margin-left: 33px;
 }

 .photo {
  height: 270px;
  margin-left: 800px;
  margin-top: -159px;
 }
